<div class="flex justify-between w-[100%] h-full flex-wrap bg-blue-400 "
>
  <div class="w-1/2 h-16 flex justify-evenly flex-wrap items-center">


    <div class="w-[75%]  flex justify-center items-center ">
        <label
        for=
        "usersearch"
        class="text-zinc-50 font-medium"
        
      >
        Github user name:
    </label>
        <input
          type="search"
          id="usersearch"
          placeholder="Enter Github Username"
          name="q"
          [(ngModel)]="search"
          class="w-[60%] h-12  rounded-full p-2"
          (keypress)="handleKeypress($event)"
        />
     
    </div>
   
 <div class=" w-[25%]">
   <button class="w-[100%] h-12 rounded-full border-2 font-semibold text-white" (click)="clickHandler()">
     Search
   </button>
 </div>
  </div>

  <div *ngIf="isloadingDone" class=" w-1/2  flex justify-center items-center">
    

        <div class="w-[30%]  flex justify-center">
            <img src="{{ userImg }}" class="w-14 h-14 rounded-full " alt="user image" />
        </div>
        <div class=" w-[70%]  flex justify-center">
            <p class="text-zinc-50 font-medium  text-2xl">{{ username }}</p>
        </div>
  

  </div>
</div>
 

<!-- this is my app-navbar  -->