<!-- <div class="w-screen h-screen">
  <div
    class="font-bold  bg-red-300 w-full h-auto flex justify-center items-center"
  >
    <app-navbar></app-navbar>
    
  </div>
  <hr />
  <div class="w-full h-14 flex justify-center items-center bg-orange-200">
    <label for="site-search"
      >Search the User:
      <input
        type="search"
        class="border-2 w-96 border-black"
        id="site-search"
        name="q"
        [(ngModel)]="searchTerm"
      />
    </label>
    <button (click)="handleSearch()">Search</button>
  </div>

  <div *ngIf="isloading">
    <img src="../assets/loader.gif" alt="loading...." class="w-full h-full">
  </div>
  
  <div *ngIf="!isloading">
    <div *ngIf="isApicall">
      {{ res.login}}
      <img
        src="{{ res.avatar_url }}"
        class="w-20 rounded-sm"
        alt="`imageof${res.name}`"
      />
      <label for="Pages">
        <p>Enter the number of repos you want to see in one page</p>
        <input
          type="number"
          class="border-8"
          id="Pages"
          [(ngModel)]="pages"
          (change)="calculateTotalPages()"
        />
      </label>
  
      <div
        *ngFor="
          let r of arrayOfRepo.slice(
            (currentPage - 1) * pages,
            currentPage * pages
          )
        "
        class="w-screen h-auto bg-lime-200 flex justify-center items-center"
      >
        <div
          class="w-1/2 h-40 bg-sky-600 flex-col justify-center items-center border"
        >
          <h1>Project Name: {{ r.name }}</h1>
          <br />
          <p>description of repository: {{ r.description }}</p>
        </div>
      </div>
  
      <div class=" flex justify-center">
        <button
          *ngFor="let page of totalPages"
          (click)="paginate(page)"
          [disabled]="currentPage === page"
          class="w-14 border-4 rounded-sm border-teal-400 border-solid"
        >
          {{ page }}
        </button>
      </div>

      <app-first></app-first>

    </div>
  
    <div *ngIf="!isApicall"></div>
  </div>
  
</div> -->




<div class="w-screen h-auto">

  <app-navbar></app-navbar>
  <app-repo-card></app-repo-card>
</div>